<template>
  <div class="container">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'Container',
  components: {}
}
</script>

<style lang="scss" scoped>
  @import '../../assets/scss/utils/variables';

</style>
