<template>
  <div id="footer">
    <h4> Liliana Afonso</h4>
    <p> Etudiante 2ème année à Crea en Développement Web & Applications</p>
    <p>
      <span>© </span>
      Untitled
      <span>| </span>
      Website created by
      <span>
        <b>
          <a
            href="https://www.google.com"
            target="_blank"
          >
            Liliana Afonso
          </a>
        </b>
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Footer',
  components: {}
}

</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

#footer{
  background: $charcoal;
  padding: 20px;
  position: relative;
  text-align: center;
  h4, p{color:$white;}
  span, a{color: $coral;}
  a{cursor: pointer;}
}

// MEDIA QUERIES
@media screen and (max-width: $sm){
  #footer{ z-index: 3;}
}

</style>
