<template>
  <div id="hero-section">
    <div class="overlay" />
    <div class="menu-content">
      <div
        class="menu-wrapper"
        @click="clickMenu()"
      >
        <div class="hamburger-menu" />
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="#section-entreprise">
              L'Entreprise
            </a>
          </li>
          <li>
            <a href="#section-projets">
              Mes Projets
            </a>
          </li>
          <li><a href="#section-acquis"> Mes Acquis </a></li>
          <li><a href="#section-feedback"> Mon Feedback </a></li>
        </ul>
      </div>
    </div>
    <div id="slider">
      <div class="content">
        <div class="slide">
          <p> Un Stage </p>
        </div>
        <div class="slide">
          <p> Cinq mois </p>
        </div>
        <div class="slide">
          <p> Une Entreprise </p>
        </div>
      </div>
    </div>
    <a
      id="go-up"
      class="visible"
      href="html"
      @click="click($event)"
    >
      <img
        class="arrow-up"
        src="../../static/img/up.svg"
      >
    </a>
    <img
      class="icon-message"
      src="../../static/img/conversation.svg"
      @click="OpenChatbot()"
    >
    <div id="chatbot">
      <iframe
        id="iframe-chatbot"
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/3368502d-9d78-48fe-a00d-05c826b262c7"
      />
      <div
        class="header-chatbot"
        @click="OpenChatbot()"
      >
        <img
          class="close-btn"
          src="../../static/img/close.svg"
        >
        <img
          class="arrow-top"
          src="../../static/img/up.png"
        >
      </div>
    </div>
  </div>
</template>

<script>
import JQuery from 'jquery'
let $ = JQuery

export default {
  name: 'Hero',
  components: {},
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  mounted () {
    window.addEventListener('scroll', function () {
      // console.log('handleScroll')
      var duration = 600
      if (window.pageYOffset > 100) {
        // console.log('a bougé')
        $('#go-up').fadeIn(duration)
        $('#chatbot').fadeIn(duration)
        $('.icon-message').fadeIn(duration)
      } else {
        $('#go-up').fadeOut(duration)
        $('#chatbot').fadeOut(duration)
        $('.icon-message').fadeOut(duration)
      }
    })
    $("a[href^='#']").click(function (e) {
      var yPos
      var yInitPos
      var target = ($($(this).attr('href')))
      // On annule le comportement initial au cas ou la base soit différente de la page courante.
      e.preventDefault()
      yInitPos = $(window).scrollTop()
      // On ajoute le hash dans l'url.
      window.location.hash = $(this).attr('href')
      // Comme il est possible que l'ajout du hash perturbe le défilement, on va forcer le scrollTop à son endroit inital.
      $(window).scrollTop(yInitPos)
      // On cible manuellement l'ancre pour en extraire sa position.
      // Si c'est un ID on l'obtient.
      target = ($($(this).attr('href')))
      // Sinon on cherche l'ancre dans le name d'un a.
      if (target.length === 0) {
        target = ($('a[name=' + $(this).attr('href')))
      }
      // Si on a trouvé un name ou un id, on défile.
      if (target.length === 1) {
        yPos = target.offset().top // Position de l'ancre.
        // On anime le défilement jusqu'à l'ancre.
        $('html,body').animate({ scrollTop: yPos - 40 }, 1000) // On décale de 40 pixels l'affichage pour ne pas coller le bord haut de l'affichage du navigateur et on défile en 1 seconde jusqu'à l'ancre.
      }
    })
  },
  methods: {
    click: function (evt) {
      console.log('ok2: ' + evt)
      var duration = 500
      evt.preventDefault()
      $('html, body').animate({ scrollTop: 0 }, duration)
      return false
    },
    clickMenu: function () {
      console.log('clické')
      $('.hamburger-menu').toggleClass('animate')
      $('.menu').toggleClass('active')
      $('.menu-content').toggleClass('active')
    },
    OpenChatbot: function () {
      console.log('chat ok')
      $('#chatbot').toggleClass('opened')
      $('.header-chatbot').toggleClass('opened')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

.icon-message{
  opacity: 0;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 48, 62, 0.3);
  z-index: 2;
}

.menu-wrapper{display: none;}

#go-up{
  content:"";
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: $grey-light;
  position: fixed;
  float: right;
  right: 20px;
  bottom: 95px;
  opacity: 0.6;
  z-index: 2000;
  text-decoration: none;
  // transition:all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  .arrow-up{
    position: absolute;
    width: 50%;
    bottom: 25px;
    left: 25%;
  }
  &:hover{
    opacity: 1;
    cursor: pointer;
    // transition:all .5s;
  }
}

.menu {
  a{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: -0px;
      left: -0px;
      width: 100px;
      height: 0px;
      background: $coral;
    }
  &:hover:before{ animation: animate 0.5s linear forwards;}
  }
  ul {
    display: flex;
    list-style:none;
    position: absolute;
    top:50px;
    right: 50px;
    font-size: 30px;
    color:$coral;
  }
}

@keyframes animate{
  0%{
    width: 0;
    height: 2px;
    left: 70px;
  }
  50%{
    width: 0;
    height: 2px;
    left: 70px;
  }
  100%{
    width: 100%;
    height: 2px;
  }
}
  #hero-section{
  background: url('../../static/img/home.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0px -250px;
  background-attachment: fixed;
  padding-bottom: 700px;
  position: relative;
  a{z-index: 300;}
}

li+li {margin-left:50px;}

#slider {
  position: absolute;
  top:300px;
  left:10%;
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  z-index: 300;
}

#slider,  #slider .slide{
  width: 800px;
  height: 250px;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
}
#slider .content {
  position: relative;
  width: 9000px; /* Assign an insanely large width */
  top: 0;
  right: 0;
  animation: slide-animation 15s infinite;
}
#slider .slide {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  5%{
    opacity: 1;
  }
  20% { right: 0;}
  28% { right: 100%; }
  50% { right: 100%; }
  58% { right: 200%; }
  80% { right: 200%; }
  88% {
    right: 300%;
    opacity: 1;}
  100% {
    right: 400%;
    opacity: 0;
  }
}
@-webkit-keyframes slide-animation {
  0% {
    opacity: 0;
    right: 0;
  }
  5%{
    opacity: 1;
  }
  20% { right: 0;}
  28% { right: 100%; }
  50% { right: 100%; }
  58% { right: 200%; }
  80% { right: 200%; }
  88% {
    right: 300%;
    opacity: 1;}
  100% {
    right: 400%;
    opacity: 0;
  }
}

// MEDIA QUERIES
@media screen and (max-width: $xl){
  #hero-section{padding-bottom: 500px;}
  #slider {top: 260px;}

}
@media screen and (max-width: $lg){
  #hero-section{background-position: center bottom;}
}
@media screen and (max-width: $md){
#hero-section{
  background-position: -50px -50px;
  p{font-size: 50px;}
}
.menu-wrapper{
  display: inline-block;
  position: absolute;
  left: 30px;
  top:10px;
  width: 60px;
  height: 60px;

  .hamburger-menu {
    transition: all 0ms 100ms;
    &.animate {
      background: transparent;
      transition: all 0ms 100ms;
    }
  }

  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    content: "";
    height: 8px;
    width: 100%;
    background: $coral;
    margin:10px 0 10px;
  }

  .hamburger-menu {
    position: absolute;
    top:20px;
  }
  .hamburger-menu:before {
    position: absolute;
    top:-25px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu:after {
    position: absolute;
    transition: all 300ms;
    top:5px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu.animate:after {
    top:-10px;
    transform: rotate(-45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .hamburger-menu.animate:before {
    top:-10px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

  .menu{
    opacity: 0;
    pointer-events: none;
    transition: all 300ms;
    &.active {
      opacity: 1;
      pointer-events: auto;
      transition: all 300ms;
      }
    ul{
      flex-direction: column;
      top:10px;
      li{margin:0;}
    }
  }
  .menu-content{
    position: absolute;
    height: 180px;
    width: 100%;
    top:0;
    transition: all 300ms;
    z-index: 3000;
    &.active {
      background-color: rgba(43, 48, 62, 0.2);
      background-color: rgba(999, 999, 999, 0.5);
    }
  }
}

@media screen and (max-width: $sm){
  #iframe-chatbot {width: 100vw;}
  #chatbot{
    bottom : -500px;
  }
  .arrow-top { display: none;}

  .icon-message{
    opacity: 1;
    position: fixed;
    bottom: 10px;
    width: 15%;
    right: 10px;
    z-index: 2;
    background: $black;
    padding: 10px;
    border-radius:10px;
  }
  #hero-section{
    background-position: -100px -50px;
    padding-bottom: 500px;
    p{ font-size: 30px;}
  }
  #slider {
    top: 265px;
    left: 2%;
  }
  .header-chatbot {
    bottom: -150px;
    .close-btn { opacity: 1;}
  }

  #go-up{
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 75px;
    .arrow-up{
      width: 50%;
      bottom: 15px;
      left:13px;
    }
  }
}
@media screen and (max-width: $xs){
  #slider .content {top: 35px;}
  .menu-wrapper{
    width: 40px;
    height: 40px;
  }
  #hero-section a {font-size: 18px; }
  .menu ul { left: 80px;}
}
</style>
