<template>
  <div id="section-parallax" />
</template>

<script>
export default {
  name: 'SectionParallax',
  components: {}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

#section-parallax{
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-image: url('../../static/img/projet2.png');
  position: relative;
}
// MEDIA QUERIES
@media screen and (max-width: $sm){
}

</style>
