<template>
  <div id="section-acquis">
    <h2> Mes Acquis</h2>
    <div class="line" />
    <span class="description"> Suite à mon stage, j'ai amélioré certaines de mes compétences en web ainsi qu'appris des nouveaux outils. Découvrez mes nouvelles compétences. </span>
    <!-- <div class="watch">
      <img
        class="watch-picture"
        src="../../static/img/horloge.png"
      >
      <div class="seconde" />
    </div> -->
    <button
      class="btn-after"
      @click="afterBtn()"
    >
      Après
    </button>
    <div class="title-completed ">
      <p class="title">
        Niveau avant le stage
      </p>
      <div class="information-icon">
        <div class="information">
          <h6> Informations </h6>
          <p> L'échelle de niveau est basée sur le même principe que le niveau des langues (A1 - C2), soit sur 6 niveaux. Le premier niveau correspond à la simple connaissance et le dernier niveau correspond à une maitrise et une connaissance d'optimisation du code. </p>
        </div>
      </div>
    </div>
    <div class="full-content">
      <div id="content-before">
        <div class="skills">
          <ul class="level">
            <ul
              v-for="skill in skills"
              :key="skill.id"
              :class="skill.class"
              class="languages"
            >
              <div class="background-white" />
              <li />
              <li />
              <li />
              <li />
              <li />
              <li />
              <div
                :style="skill.style"
                class="pourcentage"
              />
              <p class="languages-name">
                {{ skill.name }}
              </p>
            </ul>
          </ul>
        </div>
      </div>
      <div id="content-after">
        <div class="skills">
          <ul class="level">
            <ul
              v-for="skill in skillsafter"
              :key="skill.id"
              class="languages"
            >
              <div class="background-white" />
              <li />
              <li />
              <li />
              <li />
              <li />
              <li />
              <div
                :style="skill.style"
                class="pourcentage"
              />
              <p class="languages-name">
                {{ skill.name }}
              </p>
            </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import JQuery from 'jquery'
let $ = JQuery

export default {
  name: 'SectionAcquis',
  components: {
  },
  props: {
    skills: {
      type: Array,
      required: true,
      default: () => []
    },
    skillsafter: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  mounted () {
    window.addEventListener('scroll', function () {
      var sectionProjets = $('#section-projets').offset().top + $('#section-projets').height()
      var stop = Math.round($(window).scrollTop()) + 300
      if ((stop > sectionProjets) && (!$('#content-before .pourcentage').hasClass('activate'))) {
        $('#content-before .pourcentage').addClass('changed activate')
      }
    })
  },
  methods: {
    afterBtn: function () {
      var content = $('.btn-after').html()
      if (content !== 'Avant') { // SHOW THE AFTER PART
        console.log('Après ' + content)
        $('.btn-after').html('Avant')
        $('.title').html('Niveau après le stage')
        $('#content-before').css('opacity', 0)
        $('#content-after').css('opacity', 1)
        if (!$('#content-after .pourcentage').hasClass('changed')) {
          $('#content-after .pourcentage').addClass('changed activate')
        }
      } else { // SHOW THE BEFORE PART
        console.log('Avant ' + content)
        $('.btn-after').html('Après')
        $('.title').html('Niveau avant le stage')
        $('#content-after').css('opacity', 0)
        $('#content-before').css('opacity', 1)
        if ($('#content-before .pourcentage').hasClass('activate')) {
          $('#content-before .pourcentage').removeClass('changed')
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';
// .watch {
//   .watch-picture{
//     position: absolute;
//     right:-200px;
//     top:-40px;
//   }
//   .seconde{
//     content:"";
//     width: 168px;
//     height: 5px;
//     background: #151518;
//     position: absolute;
//     right: -109px;
//     top: 212px;
//   }
// }
.full-content{
  margin: 0 auto;
  transform: translateX(-10%);
}
#content-after,
#content-before {
  transition: opacity .5s;
  width: 50%;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

#section-acquis {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.information {
  opacity: 0;
  background:$grey;
  width: 500px;
  padding: 20px;
  position: absolute;
  top: -180px;
  left: 15px;
  z-index: 200;
  pointer-events: none;
}
.title-completed {
  display: flex;
  justify-content: center;
  margin: 60px 0px 10px;
  position: relative;
  .title{font-size: 1.8rem;}
}
.information-icon {
  background-image: url('../../static/img/information.svg');
  width: 30px;
  height: 30px;
  position: relative;
  top: -7px;
  right: 0px;
  cursor: help;
  &:hover{
    .information{
      opacity: 1;
      transition: opacity .5s ease-in-out;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
}

.languages{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languages-name {
  min-width: 90px;
  text-align: center;
  margin-top: 20px;
  li {
    text-align: center;
    min-width: 100px;
  }
}

.level {
  display: flex;
  z-index: 200;
  li{
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-top : none;
    display: flex;
    flex-direction: space-between;
    &:nth-child(2) {
      border-top: 1px solid $white;
    }
  }
  .background-white{
    content:"";
    height: 240px;
    width: 40px;
    position: absolute;
    bottom: 40px;
    background: $white;
    z-index: -1;
  }
  .pourcentage {
    height: 120px;
    width: 40px;
    position: absolute;
    bottom: 40px;
    transform: scaleY(0);
    transform-origin: bottom center;
    background:$coral;
    z-index: -1;
    &.changed{
      transform: scaleY(1);
      animation: bounce 1s linear forwards;
      -moz-animation: bounce 1s linear forwards;
    }
    &.activate{
      transform: scaleY(1);
    }
  }
}

#content-before {
  // display: inline;
  opacity: 1;
}
#content-after {
  position: absolute;
  bottom: 0px;
  // display: inline;
  opacity: 0;
  // .skills{ width: 80%;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* Standard syntax */
@keyframes bounce {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

// MEDIA QUERIES
@media screen and (max-width: $lg){
  .skills { width: 600px; }
  #content-after .skills{ width: 800px; }
  .watch {
    .watch-picture{
      right:-167px;
      width: 380px;
    }
    .seconde{
      content:"";
      width: 130px;
      height: 4px;
      right: -100px;
      top: 148px;
    }
  }
}
@media screen and (max-width: $md){
  .full-content {margin-top : 20px;}
  #section-acquis { margin-top:50px;}
  #content-after .skills{ width: 740px; }
  .information {
    width: 270px;
    top: -300px;
    // opacity: 1;
  }
  .level {
    li{
      width: 20px;
      height: 20px;
    }
    .pourcentage {
      width: 20px;
      bottom: 39px;
    }
    .background-white{
    height: 139px;
    width: 20px;
    bottom: 40px;
    }
  }
  .background-white{ width: 20px;}

  .description {
    padding-left: 20px;
    padding-top: 5px;
  }
  .watch {
    .watch-picture{
      right:-125px;
      top:-88px;
      width: 40%;
    }
    .seconde{
      content:"";
      width: 102px;
      height: 3px;
      right: -76px;
      top: 56px;
    }
  }
}
@media screen and (max-width: $sm){
  .full-content {
    transform: translateX(-2%);
    margin-top : 15px;
  }
  #section-acquis {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .information {
    width: 321px;
    top: -185px;
    transform: translateX(-83%);
  }
  .information-icon {
    width: 20px;
    height: 20px;
  }
  .title-completed  {
    font-size: 0.8rem;
    margin-top: 30px;
    .title{font-size: 1.2rem;}
  }
  .level {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    grid-gap: 0.6em;
    p{ font-size: 0.7rem;}
  }
}

@media screen and (max-width: $xs){
    .full-content {
    transform: translateX(-1%);
    }
  .level {
    grid-template-columns: repeat(auto-fill, minmax(28px, 1fr));
    p{ font-size: 0.6rem;}
  }
}
</style>
