<template>
  <div
    id="section-feedback"
  >
    <h2> Mon feedback</h2>
    <div class="line" />
    <span class="description"> A la fin de ce stage, j'ai retenu certains points. </span>
    <div class="all-panel container">
      <div
        v-for="panel in panels"
        :id="panel.id"
        :key="panel.id"
        :style="panel.style"
        class="panel"
      >
        <div class="bloc">
          <p class="detail-feedback">
            {{ panel.word }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SectionFeedback',
  components: {},
  props: {
    panels: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';
.container {width: 60%;}
#section-feedback{
  display: flow-root;
  background: $grey;
  padding-bottom: 100px;
  .all-panel{
    position: relative;
    .panel {
      position: relative;
      opacity: 0.7;
      transition: opacity 0.35;
      height: 300px;
      width: 33.30%;
      float: left;
      border: 20px solid $grey;
      .bloc{
        p{
          color: $white;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
          padding: 0 30px;
        }
        .detail-feedback{
          position: relative;
          bottom: 0px;
          height: 230px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          transition: opacity .35s;
          -webkit-transition: -webkit-opacity 0.35s;
          transform: translateX(12.5%);
          &::after{
            content: "";
            height: 210px;
            width: 0px;
            position: absolute;
            bottom: -5px;
            border-top: 1px solid $coral;
            border-bottom: 1px solid $coral;
            transition: width .5s, opacity .35s;
            opacity: 0;
          }
          &::before{
            content: "";
            height: 0px;
            width: 100%;
            position: absolute;
            top: 15px;
            border-left: 1px solid $coral;
            border-right: 1px solid $coral;
            opacity: 0;
            transition: height .5s .1s, opacity .35s;
          }
        }
      }
      &:hover{
        opacity: 1;
        .detail-feedback {
          opacity: 1;
          &::after{
            width: 110%;
            opacity: 1;
          }
          &::before{
            height: 235px;
            opacity: 1;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (max-width: $xl){
  .container {width:80%;}
  #section-feedback{
    .panel {
      .bloc{
        p{ font-size: 20px;}
        .detail-feedback{ width: 80%;}
      }
    }
  }
}
@media screen and (max-width: $lg){
  #section-feedback{
    .all-panel{
    .panel {
      width: 50%;
      }
    }
  }
}
@media screen and (max-width: $md){
  #section-feedback{
    .all-panel{
      .panel {width: 50%;}
   }
  }
}
@media screen and (max-width: $sm){
.container {width:95%;}
  #section-feedback{
    padding-bottom: 40px;
    padding-top: 30px;
    .all-panel{
      .panel {width: 100%;}
    }
  }
}

</style>
