<template>
  <div id="section-projets">
    <h2 class="container">
      Mes projets
    </h2>
    <div class="line" />
    <span class="description"> J’ai réalisé quelques projets au cours de mon stage, je vous invite à les découvrir. </span>
    <div class="paginations paginations-projets">
      <div
        slot="pagination2"
        class="swiper-pagination pagination2"
      />
      <div
        slot="button-prev"
        class="swiper-button-prev swiperprev_2 arrow-left"
      >
        <img class="charcoal-arrow" src="static/img/left-charcoal.svg">
        <img class="white-arrow" src="static/img/left-coral.svg">
      </div>
      <div
        slot="button-next"
        class="swiper-button-next swipernext_2 arrow-right"
      >
        <img class="charcoal-arrow" src="static/img/right-charcoal.svg">
        <img class="white-arrow" src="static/img/right-coral.svg">
      </div>
    </div>
    <div class="all-projets">
      <slot />
    </div>
  </div>
</template>

<script>

export default {
  name: 'SectionProjet',
  components: {},
  props: {},
  data () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';
#section-projets{
  padding: 50px 0px 100px;
  position: relative;
  background: $charcoal;
  h2,span {color: $white;}
}

.swiper-button-next{
  position: relative;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  background: $coral;
  border-radius:50%;
  bottom:35px;
  right: -20px;
  transition: all 0.5s;
  border: 2px solid $charcoal;
  .white-arrow { opacity: 0;}
  img{
    position: absolute;
    width: 65%;
    top: 6px;
    left: 7px;
  }
  &:hover {
    background: $charcoal;
    border-color: $coral;
    .white-arrow { opacity: 1;}
  }
}
.swiper-button-prev{
  position: relative;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  background: $coral;
  border-radius:50%;
  bottom:0px;
  left: -20px;
  transition: all 0.5s;
  border: 2px solid $charcoal;
  .white-arrow { opacity: 0;}
  img{
    position: absolute;
    width: 65%;
    top: 6px;
    right: 7px;
  }
  &:hover {
    background: $charcoal;
    border-color: $coral;
    .white-arrow { opacity: 1;}
  }
}
@media screen and (max-width: $sm){
  #section-projets{
    padding-top:30px;
    // padding-bottom:50px;
  }
}
</style>
