<template>
  <div
    id="section-entreprise"
  >
    <h2> L'entreprise</h2>
    <div class="line" />
    <span class="description"> Je vous présente l'agence, chez laquelle j'ai eu l'occasion de faire mon stage de 5 mois </span>
    <div class="description-company">
      <div class="companie-name bloc">
        <img
          class="logo-SQLI"
          src="../../static/img/SQLI_DX_LOGO_rose.png"
        >
      </div>
      <div class="all-dot first">
        <div class="dot dot1" />
        <div class="dot dot2" />
        <div class="dot dot3" />
        <div class="dot dot4" />
        <div class="dot dot5" />
      </div>
      <div class="article-SQLIgroupe bloc">
        <img
          class="emoji-journal"
          src="../../static/img/emoji/journal.png"
        >
        <h3> Groupe SQLI DIGITAL EXPERIENCE</h3>
        <article>
          SQLI DIGITAL EXPERIENCE plutôt connue sous SQLI est une agence française qui existe depuis 1990. Elle est spécialiste du commerce unifié en Europe et vise a aider les entreprises et les marques à développer leur activité et à créer l’expérience digitale de demain. Ayant de multiples compétences, elle accompagne ses clients à travers plusieurs domaines comme le conseil, le marketing et la technologie. Au fil des années, l’agence s’est répandue dans le monde. A son actif, elle compte 2400 collaborateurs parmi les 32 agences réparties en France, Royaume-Uni, Suède, Pays-Bas, Barcelone, Belgique, Luxembourg, Maroc, Suisse. Chacunes d’elles n’hésitent pas à collaborer ensemble.
        </article>
      </div>
      <div class="all-dot second">
        <div class="dot dot1" />
        <div class="dot dot2" />
        <div class="dot dot3" />
        <div class="dot dot4" />
        <div class="dot dot5" />
      </div>
      <div class="article-SQLIsuisse bloc">
        <img
          class="emoji-hello"
          src="../../static/img/emoji/hello.png"
        >
        <h3> SQLI DIGITAL EXPERIENCE Suisse </h3>
        <article>
          SQLI Suisse existe depuis plus de 15ans, elle est représentées par trois filiales; une à Genève, une à Lausanne et une autre à Zurich. Chacune d’elles sont composées de 3 Business Units (BUs); Digital Tech, E-commerce & CRM et Agency afin de mieux répondre à leurs clients. SQLI Suisse a environ 150 collaborateurs et en 2018 son chiffre d’affaires s'est élevé à plus de 32 millions d'euros soit 13.8% du Groupe.
        </article>
      </div>
      <div class="all-dot third">
        <div class="dot dot1" />
        <div class="dot dot2" />
        <div class="dot dot3" />
        <div class="dot dot4" />
        <div class="dot dot5" />
      </div>
      <div class="article-SQLIlausanne bloc">
        <img
          class="emoji-debout"
          src="../../static/img/emoji/debout.png"
        >
        <h3> SQLI DIGITAL EXPERIENCE Lausanne </h3>
        <article>
          SQLI Lausanne est la filiale pour laquelle j’ai commencé à travaillé en tant que stagiaire Front-end, le 2 septembre 2019. J’ai fait partie de la BU Agency composée de 13 collaborateurs, avec qui on se rejoignait tous les lundis pour faire un point de production afin de savoir les projets en cours et de détecter d'éventuels problèmes ou besoins. Mes supérieurs étaient :
        </article>
        <div class="people-pictures">
          <div class="renaud-picture picture">
            <img
              src="../../static/img/rond.png"
              alt="Renaud DETCHEVERRY"
            >
            <p class="renaud-description description">
              <strong> Renaud DETCHEVERRY </strong> <br> Directeur Général Adjoint SQLI International & Suisse
            </p>
          </div>
          <div class="mathieu-picture picture">
            <img
              src="../../static/img/rond.png"
              alt="Mathieu Collet"
            >
            <p class="renaud-description description">
              <strong>Mathieu COLLET</strong> <br> Directeur Agency
            </p>
          </div>
          <div class="julien-picture picture">
            <img
              src="../../static/img/rond.png"
              alt="Julien RAMEL"
            >
            <p class="renaud-description description">
              <strong>Julien RAMEL</strong> <br> Directeur technique Agency
            </p>
          </div>
          <div class="jonathan-picture picture">
            <img
              src="../../static/img/rond.png"
              alt="Jonathan SOLIVERES"
            >
            <p class="renaud-description description">
              <strong>Jonathan SOLIVERES</strong> <br> Développeur Senior Front-end
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JQuery from 'jquery'
let $ = JQuery

export default {
  name: 'SectionEntreprise',
  components: {},
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll (event) {
      const bloc1 = document.querySelectorAll('.bloc')[0]
      const bloc2 = document.querySelectorAll('.bloc')[1]
      const bloc3 = document.querySelectorAll('.bloc')[2]
      const bloc4 = document.querySelectorAll('.bloc')[3]
      const posCurseur = window.pageYOffset + window.innerHeight

      if ((posCurseur - (bloc1.offsetHeight / 2)) >= bloc1.offsetTop && !bloc1.classList.contains('bloc--show')) {
        bloc1.classList.add('bloc--show')
      } else if ((posCurseur - (bloc2.offsetHeight / 2)) >= bloc2.offsetTop && !bloc2.classList.contains('bloc--show')) {
        $('.first').addClass('activate')
        bloc2.classList.add('bloc--show')
      } else if ((posCurseur - (bloc3.offsetHeight / 2)) >= bloc3.offsetTop && !bloc3.classList.contains('bloc--show')) {
        $('.second').addClass('activate')
        bloc3.classList.add('bloc--show')
      } else if ((posCurseur - (bloc4.offsetHeight / 2)) >= bloc4.offsetTop && !bloc4.classList.contains('bloc--show')) {
        $('.third').addClass('activate')
        bloc4.classList.add('bloc--show')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

#section-entreprise{
  padding-bottom: 50px;
  margin:0;
}

.bloc,
.dotted-bloc{
  opacity: 0;
  transition: opacity 0.5s, transform 0.8s;
  transform: translateY(80px);
  &--show{
    opacity: 1;
    transform: translateY(0);
    &:first-child{ margin-top: 50px;}
  }
}

.all-dot{
  height: 100px;
  margin: 20px 0px;
  width: 20px;
  .dot {
    content : "";
    position: absolute;
    border-radius: 50%;
    background: $charcoal;
    width: 10px;
    height: 10px;
    opacity: 0;
  }
  &.activate {
    .dot {
      opacity: 1;
      transition: opacity 0.2s;
    }
    .dot2{
      margin-top:20px;
      transition-delay: 0.05s;
    }
    .dot3{
      margin-top:40px;
      transition-delay: 0.1s;
    }
    .dot4{
      margin-top:60px;
      transition-delay: 0.15s;}
    .dot5{
      margin-top:80px;
      transition-delay: 0.2s;
    }
  }
}

.description-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div[class^='article-SQLI'] {
  width: 43.4rem;
  text-align: justify;
  padding: 20px;
  margin-bottom: 0px;
  // transition : opacity 0.5s ease;
  position: relative;
  color: $charcoal;
  // transition-delay: 0.2s;
}

div .article-SQLIsuisse {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  .emoji-hello{
    margin-left:375px;
    width: 320px;
  }
}
div .article-SQLIlausanne {
  margin-left: -200px;
  top: 150px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  padding:50px 25px 120px 120px;
  article { width: calc(43.4rem - 40px)}
  .emoji-debout{
    width: 200px;
    position: absolute;
    left: -32px;
    top: -173px;
  }
}
.people-pictures {
  display: flex;
  position: relative;
  justify-content: center;
  bottom:-30px;
  left: 175px;
  z-index: 2;
  width: 220px;
  height: 220px;
  // margin: 0 auto;
  img {
    border: 2px solid $charcoal;
    border-radius: 50%;
    width: 220px;
    height: 220px;
  }
  .description {
    border: 2px solid $charcoal;
    opacity: 0;
    transform: scale(0.5);
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: $grey;
    color: $black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    padding-top:40px;
    }
  .picture{
    position: relative;
      &:hover {
        .description {
          opacity: 1;
          transform: scale(1);
          transition: all .5s;
          top:-1px;
          right:0px;
        }
      }
    }
  }
  .logo-SQLI{
    width: 400px;
    margin-top: -30px;
    padding: 20px;
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* Standard syntax */
@keyframes bounce {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

// MEDIA QUERIES

@media screen and (max-width: $lg){
  div[class^='article-SQLI'] {
    width: 40rem;
  }
  div .article-SQLIlausanne {
    margin-left: -195px;
    article { width: calc(40rem - 40px)}
  }
  div .article-SQLIsuisse {
    .emoji-hello{
      margin-left:323px;
    }
  }
  .people-pictures {
    left: 185px;
  }
}

@media screen and (max-width: $md){
  div[class^='article-SQLI'] {
    width: 35rem;
  }
  div .article-SQLIlausanne {
    margin-left: -195px;
    margin-bottom:0px;
    padding-bottom: 0px;
    article { width: calc(35rem - 40px)}
  }
  div .article-SQLIsuisse {
    .emoji-hello{
      margin-left:243px;
    }
  }
  .people-pictures {
    left: 150px;
    img {
      height: 170px;
      width: 170px;
    }
    .description {
    height: 170px;
    width: 170px;
    font-size: 12px;
    padding: 33px 10px 10px;
    }
  }
  #section-entreprise {padding-bottom: 200px;}
}
@media screen and (max-width: $sm){
  .logo-SQLI{
    width: 300px;
    padding: 10px;
    }
  div[class^='article-SQLI'] {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  div .article-SQLIsuisse {
    .emoji-hello{
      margin-left: 35px;
    }
  }
  div .article-SQLIlausanne {
    padding:10px;
    margin-left:0px;
    article {
      width: 100%;
      position: relative;
      z-index: 1;
      background: $white;
      padding-bottom: 55px;
    }
    h3{
      position: relative;
      z-index: 3;
    }
    .emoji-debout{
      left: -25px;
      top:-160px;
      width: 57%;
    }
  }
  .people-pictures {
  width: 160px;
  left: 0px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
    img {
      height: 150px;
      width: 150px;
    }
    .description {
      opacity: 1;
      top: 17px;
      right: -155px;
      width: 197%;
      height: 140px;
      border-radius: 0px;
      z-index: -1;
      padding: 30px 15px 15px 155px;
      display: flex;
      align-items: flex-end;
      transform: scale(1);
      text-align: right;
      border:none;
    }
    .picture{
      margin-bottom: 20px;
      &:hover {
        .description{
          opacity: 1;
          top: 17px;
          right: -155px;
          width: 197%;
          height: 140px;
          border-radius: 0px;
          z-index: -1;
          padding: 30px 15px 15px 155px;
          display: flex;
          align-items: flex-end;
          transform: scale(1);
          text-align: right;
        }
      }
    }
    p{ text-align: right;}
  }
  #section-entreprise{ margin-bottom: 420px;}
}
@media screen and (max-width: $xs){
  .logo-SQLI{width: 300px;}
  div .article-SQLIsuisse {
    .emoji-hello{
      margin-left: -20px;
    }
  }
  .people-pictures {
    img {
      height: 130px;
      width: 130px;
    }
  .description {
    padding: 10px 15px 15px 155px;
    font-size: 11px;
    height: 120px;
    right: -115px;
    width: 175%;
  }
  .picture{
    &:hover {
      .description {
        padding: 10px 15px 15px 155px;
        font-size: 11px;
        height: 120px;
        right: -115px;
        width: 175%;
      }
    }
  }
}
  #section-entreprise{ padding-bottom: 100px;}
}
</style>
