<template>
  <div id="section-remerciement" />
</template>

<script>
export default {
  name: 'SectionRemerciement',
  components: {}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

#section-remerciement{
  background-image: url('../../static/img/feedback1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 700px;
  position: relative;
}
// MEDIA QUERIES
@media screen and (max-width: $md){
  #section-remerciement{
    background-image: url('../../static/img/feedback-mobile.png');
  }
}

</style>
