<template>
  <swiper
    class="swiperoption"
    :options="swiperoption"
  >
    <swiper-slide
      v-for="projet in projets"
      :key="projet.id"
      class="projet-content"
    >
      <div class="slider-images">
        <SwiperImages
          :images="projet.images"
        />
        <SwiperVideos
          :videos="projet.videos"
        />
      </div>
      <div class="description-content">
        <h4>{{ projet.brand }}</h4>
        <p>{{ projet.title }}</p>
        <p> autonomie </p>
        <div class="progress-bar">
          <div
            class="level-bar"
            :style="projet.level"
          />
        </div>
        <p>{{ projet.langage }}</p>
        <p>{{ projet.time }}</p>
        <a
          v-if="projet.link"
          class="link-site"
          :href="projet.url"
          target="_blank"
        >
          Voir le site
          <img
            :src="'../../static/img/next_white.png'"
            alt="icon-next"
          >
        </a>
      </div>
    </swiper-slide>
  </swiper>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import SwiperImages from 'layouts/components/SwiperImages'
import SwiperVideos from 'layouts/components/SwiperVideos'
import Vue from 'vue'
import VueMq from 'vue-mq'

Vue.use(VueMq, {
  breakpoints: {
    sm: 650,
    md: 950,
    lg: 1200,
    xl: Infinity
  }
})

export default {
  name: 'SingleProjet',
  components: {
    swiper,
    swiperSlide,
    SwiperImages,
    SwiperVideos
  },
  props: {
    projets: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data () {
    return {
      swiperoption: {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: false,
        pagination: {
          el: '.pagination2',
          clickable: true
        },
        navigation: {
          nextEl: '.swipernext_2',
          prevEl: '.swiperprev_2'
        },
        breakpoints: {
          950: {
            slidesPerView: 1.5,
            spaceBetween: 50,
            slidesPerGroup: 1,
            loop: true,
            centeredSlides: true,
            loopAdditionalSlides: 1, // slidesNum contains the initial slides number
            loopedSlides: 1,
            pagination: {
              el: '.pagination2',
              clickable: true
            }
          },
          650: {
            slidesPerView: 1.5,
            spaceBetween: 20,
            slidesPerGroup: 1,
            loop: true,
            centeredSlides: true,
            loopAdditionalSlides: 1, // slidesNum contains the initial slides number
            loopedSlides: 1,
            pagination: {
              el: '.pagination2',
              clickable: true
            }
          }
        }
      }
    }
  },
  // to have a real loop swiper
  mounted () {
    setTimeout(function () {
      var resizeEvent = window.document.createEvent('UIEvents')
      resizeEvent.initUIEvent('resize', true, false, window, 0)
      window.dispatchEvent(resizeEvent)
    }, 100)
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

.swiperoption{
  width: 80%;
  height: 600px;
}
.projet-content{
  display: flex;
  flex-direction: row;
}

.slider-images{
  width: 60%;
  height: 100%;
}

.description-content{
  transform: translateY(25%);
  width: 40%;
  background: $charcoal;
  padding: 10px 50px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  h4,
  p,
  a{
    color: $white;
  }
}
.details-content {transform: translateY(5%);}
a {
  margin-top:30px;
  display: flex;
  width: 115px;
  float: right;
  &:hover{
    transform:scale(1.1);
    transition: all 300ms;
  }
  img {
    width: 7px;
    height: 10px;
    margin-left:5px;
    margin-top:6px;
    }
}

p {
  margin-bottom: 20px;
}

.progress-bar{
width: 300px;
height: 24px;
background: $charcoal;
border-radius: 16px;
box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
-webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
-moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
position: relative;
margin: 0 auto 20px;
}
.level-bar {
  position: absolute;
  margin: 0 auto;
  width: 200px;
  height: 24px;
  background: $coral;
  z-index: 3000;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
@media screen and (max-width: $lg){
  .swiperoption{width: 100%;}
}
@media screen and (max-width: $md){
  .swiperoption{
    width: 100%;
    height: 100%;
  }
  .projet-content{
    display: flex;
    flex-direction: column;
    // border: 1px solid $black;
-webkit-box-shadow: 0px 0px 9px 0px rgba(70,73,82,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(70,73,82,1);
box-shadow: 0px 0px 9px 0px rgba(70,73,82,1);
  }

  .slider-images{
    width: 100%;
    height: 100%;
  }
  .description-content{
    width: 100%;
    min-height: 400px;
    transform: translateY(0%);
    padding-top: 50px;
  }
}

@media screen and (max-width: $sm){
  .description-content{
    padding: 10px 20px;
    min-height: 250px;
  }
  p {margin-bottom: 10px;}
  a {
    margin:0;
    width: auto;
    img {
      width: 4%;
    }
  }
  .progress-bar{
    width: 180px;
    height: 14px;
  }
  .level-bar {
    width: 200px;
    height: 14px;
  }
}

</style>
