<template>
  <div
    class="swiper-images-page"
  >
    <swiper
      class="swiper-option"
      :options="swiperoptionImages"
    >
      <swiper-slide
        v-for="image in images"
        :id="image.ident"
        :key="image.id"
        class="swipe-images"
      >
        <img
          class="picture-projet"
          :src="image"
        >
      </swiper-slide>
      <div
        slot="pagination"
        class="swiper-pagination"
      />
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'SwiperImages',
  components: {
    swiper,
    swiperSlide
  },
  props: {
    images: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data () {
    return {
      swiperoptionImages: {
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        centeredSlides: true,
        loop: true
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';

// .picture-projet{
//   height: 100%;
//   display: flex;
//   align-self: center;
//   margin:0 auto;
// }
.swipe-images {
  background: $charcoal;
  height: 600px;
  img{
    width: 100%;
    height: 100%;
  }
}
// MEDIA QUERIES
@media screen and (max-width: $md){
  .swiper-images-page{width: 100%;}
  .swipe-images {
    height: 460px;
    }
  .picture-projet{
    height: 100%;
    display: flex;
    margin:0 auto;
  }
}
@media screen and (max-width: $sm){
  .swipe-images {
    height: 200px;
  }
}
</style>
