<template>
  <div
    class="swiper-videos-page"
  >
    <swiper
      class="swiper-option"
      :options="swiperoptionVideos"
    >
      <swiper-slide
        v-for="video in videos"
        :id="video.ident"
        :key="video.id"
        class="swipe-videos"
      >
        <video
          :src="video"
          controls
        />
      </swiper-slide>
      <div
        slot="pagination"
        class="swiper-pagination"
      />
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  name: 'SwiperVideos',
  components: {
    swiper,
    swiperSlide
  },
  props: {
    videos: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data () {
    return {
      swiperoptionVideos: {
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        centeredSlides: true
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/utils/variables';
  // .swiper-videos-page{background: black;}

  // video{
  //   position: relative;
  //   height: 398px;
  //   width: 100%;
  // }

// MEDIA QUERIES
@media screen and (max-width: $md){
  .swiper-videos-page{ width: 100%; }
  .swipe-videos {
    height: 460px;
    }
  .video-projet{
  display: flex;
  margin:0 auto;
  }
  video {height:100%;}
}
@media screen and (max-width: $sm){
  .swipe-videos {
    height: 200px;
    }}
</style>
