.btn-after {
    padding: 10px 20px;
    margin: 0px 0px 30px;
    border-radius: 50px;
    background: $black;
    transition: all 300ms;
    -webkit-box-shadow: 3px 3px 10px -3px rgba(53,76,84,1);
    -moz-box-shadow: 3px 3px 10px -3px rgba(53,76,84,1);
    box-shadow: 3px 3px 10px -3px rgba(53,76,84,1);
    max-width: 150px;
    margin: 0 auto;
    cursor: pointer;
    color: $white;
    &:hover{
    -webkit-box-shadow: 3px 3px 13px -3px rgba(53,76,84,1);
    -moz-box-shadow: 3px 3px 13px -3px rgba(53,76,84,1);
    box-shadow: 3px 3px 13px -3px rgba(53,76,84,1);
    background: $coral;
    color: $charcoal;
    }
}

@media screen and (max-width: $sm){
    .btn-after {
        max-width: 120px;
    }
}
