/* iframe chatbot*/
#chatbot{
    z-index: 3000;
    bottom: -352px;
    right: -2px;
    transition: all 2s;
    position: fixed;
    &::after{
        background-image: url('/static/img/close.png');
    }
    &.opened{
        bottom: -4px;
        transition: all 2s;
    }
}
// iframe customize design
.header-chatbot{
    content:"";
    height: 80px;
    width: 55px;
    position: fixed;
    bottom: 0;
    right: -2px;
    z-index: 4000;
    transition: all 2s;
    cursor: pointer;
    .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        opacity: 0;
        transition: all .2s;
        transform: opacity .01s;
    }
    &.opened{
        bottom: 352px;
        transition: all 2s;
        .arrow-top{
            display: none;}
        .close-btn{ opacity: 1; }
        .close-btn:hover { cursor: pointer;}
    }
    .arrow-top{
        width: 40%;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        // transition: all 1s;
    }
}
