a {
    text-decoration: none;
    color: $black;
}
* {
    font-family: 'Montserrat', sans-serif;
}

#hero-section {
    a {
        font-size: 25px;
        color: $coral;
        font-weight: 600;
    }
    p{
        font-size: 80px;
        color: $coral;
        font-weight: 600;
    }
}

h2 {
    font-size: 50px;
    color: $black;
    font-weight: 600;
    padding: 50px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    // span{color:$mustard;}
}
.line {
    content: "";
    width: 100px;
    height: 2px;
    position: relative;
    background: $coral;
    margin: 20px auto 25px;
}
.description{
    display: flex;
    justify-content: center;
    width: 40%;
    text-align: center;
    margin: 0 auto 40px;
}
h3 {
    font-size: 30px;
    color: $coral;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    font-size: 25px;
    color: $black;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    color: $black;
    font-weight: 600;
    margin-bottom: 20px;
}

p, a, article, button{
    font-size: 1rem;
    color: $black;
}
@media screen and (max-width: $lg){
    .description{width:50%;}
}
@media screen and (max-width: $md){
    .description{width:80%;}
    #hero-section {
        a {color: $charcoal;}
    }
}
@media screen and (max-width: $sm){
    h2 {
        font-size: 25px;
        padding: 20px 0px 10px;
    }
    .description{
        width:90%;
        margin-bottom: 10px;
    }
    .line{margin:0 auto 10px;}
    h3,h4 { font-size: 20px;}
    .description, p, a, article, button{
        font-size: 0.8rem;
        color: $black;
    }
}