.swiper-images-page{
  .swiper-pagination{
    span+span{margin-left: 10px;}
    .swiper-pagination-bullet-active {background: $black;}
  }
}

.swiper-videos-page {
  .swiper-pagination-bullet{ background: rgba(255, 255, 255, 0.8);}
  .swiper-pagination-bullet-active {background: $white;}
}

.pagination2{
  margin: 20px auto;
  display: none;
  justify-content: space-between;
  width: 120px;
  position: relative;
  .swiper-pagination-bullet-active {background: $black;}
}

.swiper-container-horizontal > .swiper-pagination-bullets {bottom: 1px;}

@media screen and (max-width: $md){
  .single-projet > .swiper-container { padding:20px 0px;}
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {bottom: 3px;}
}