// =============================================================================
// Normalize box sizing
// =============================================================================
*, *::before, *::after { box-sizing: border-box; }

// =============================================================================
// Body reset
// =============================================================================
body {
    margin: 0; padding: 0;
    font-size: $base;
    overflow-x: hidden;
}

#app,
.scroll-disabled {
    overflow: hidden;
}

li{  list-style: none;}
* { 
    margin:0;
    padding: 0;
    outline:0;
 }

// =============================================================================
// Container
// =============================================================================
.container {
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: $sm){
    .container {
        width: 90%;
    }
}