// =============================================================================
// Colors
// =============================================================================
$coral:#f06664;
$charcoal:#2B303E;
$grey-light: rgba(242,242,242,.95);
$black: #2B303E;
$white: #ffffff;
// $beige: antiquewhite;
$grey:#E1E1E1;

// =============================================================================
// Breakpoints
// =============================================================================
$xs: 330px;
$sm: 650px;
$md: 950px;
$lg: 1200px;
$xl: 1600px;

// =============================================================================
// Fonts
// =============================================================================
$base: 16px;
