<template>
  <div>
    <Hero />
    <Container>
      <SectionEntreprise />
    </Container>
    <!-- <SectionParallax /> -->
    <SectionProjets>
      <mq-layout mq="md+">
        <SingleProjet
          :projets="tabProjets"
        />
      </mq-layout>
      <mq-layout mq="sm">
        <SingleProjet
          :projets="tabProjetsMobile"
        />
      </mq-layout>
    </SectionProjets>
    <Container>
      <mq-layout mq="lg+">
        <SectionAcquis
          :skills="skills"
          :skillsafter="skillsAfter"
        />
      </mq-layout>
      <mq-layout mq="md">
        <SectionAcquis
          :skills="skillsMobile"
          :skillsafter="skillsAfterMobile"
        />
      </mq-layout>
      <mq-layout mq="sm">
        <SectionAcquis
          :skills="skillsMobile"
          :skillsafter="skillsAfterMobile"
        />
      </mq-layout>
      <!-- <SectionRemerciement /> -->
      </Container>
      <SectionFeedback
        :panels="tabPanel"
      />
    <Footer />
  </div>
</template>

<script>
import Container from 'layouts/components/Container'
import Hero from 'layouts/components/Hero'
import SectionEntreprise from 'layouts/components/SectionEntreprise'
// import SectionParallax from 'layouts/components/Parallax'
import SectionProjets from 'layouts/components/SectionProjets'
import SingleProjet from 'layouts/components/SingleProjet'
import SectionAcquis from 'layouts/components/SectionAcquis'
// import SectionRemerciement from 'layouts/components/SectionRemerciement'
import SectionFeedback from 'layouts/components/SectionFeedback'
import Footer from 'layouts/components/Footer'

export default {
  name: 'Home',
  components: {
    Container,
    Hero,
    SectionEntreprise,
    // SectionParallax,
    SectionProjets,
    SingleProjet,
    SectionAcquis,
    // SectionRemerciement,
    SectionFeedback,
    Footer
  },
  data () {
    return {
      metas: {
        title: this.$store.state.i18n.metas
      },
      tabProjets: [
        {
          brand: 'Nespresso',
          title: 'Page web Gastronomie - améliorations et responsive',
          langage: 'VueJS',
          level: {
            width: '180px'
          },
          time: '1 semaine',
          url: 'https://www.nespresso.com/pro/ch/en/pages/coffee-corners-landing',
          images: [
            '../../static/img/gastronomie1.png',
            '../../static/img/gastronomie2.png',
            '../../static/img/gastronomie3.png',
            '../../static/img/gastronomie4.png'
          ]
        },
        {
          brand: 'Nespresso',
          title: 'Page web CoffeeCorner - création',
          langage: 'VueJS',
          level: {
            width: '280px'
          },
          time: '1 semaine',
          link: true,
          url: 'https://www.nespresso.com/pro/ch/en/pages/coffee-corners-landing',
          images: [
            '../../static/img/CoffeeCorner1.png',
            '../../static/img/CoffeeCorner2.png',
            '../../static/img/CoffeeCorner3.png'
          ]
        },
        {
          brand: 'Richemont',
          title: 'Vidéo - création',
          langage: 'iMovie',
          level: {
            width: '300px'
          },
          time: '2 jours',
          videos: [
            '../../static/video/BOOSTER 2.0 & BEYOND v8.mp4',
            '../../static/video/workshop2 richemont.mp4'
          ]
        },
        {
          brand: 'TPG',
          title: 'Page LEX - améliorations',
          langage: 'Html - Sass',
          level: {
            width: '50px'
          },
          time: '1 jour',
          images: [
            '../../static/img/tpg1.png',
            '../../static/img/tpg2.png',
            '../../static/img/tpg3.png'
          ]
        },
        {
          brand: 'Manor',
          title: 'Chatbot - implémentation des produits',
          langage: 'Chatfuel - Messenger',
          level: {
            width: '180px'
          },
          time: '3 semaines',
          link: true,
          url: 'https://www.nespresso.com/pro/ch/en/pages/coffee-corners-landing',
          images: [
            '../../static/img/chatbot1.png',
            '../../static/img/chatbot2.png',
            '../../static/img/chatbot3.png',
            '../../static/img/chatbot4.png'
          ]
        },
        {
          brand: 'Lycra',
          title: 'Site web',
          langage: 'Twig',
          level: {
            width: '30px'
          },
          time: '2 semaines',
          images: [
            '../../static/img/vide.png',
            '../../static/img/vide.png',
            '../../static/img/vide.png'
          ]
        },
        {
          brand: 'CREA',
          title: 'Site web - Rapport de stage',
          langage: 'vueJS',
          level: {
            width: '300px'
          },
          time: '2 semaines',
          images: [
            '../../static/img/rapport1.png',
            '../../static/img/rapport2.png',
            '../../static/img/rapport3.png'
          ]
        }
      ],
      tabProjetsMobile: [
        {
          brand: 'Nespresso',
          title: 'Page web Gastronomie - améliorations et responsive',
          langage: 'VueJS',
          level: {
            width: '100px'
          },
          time: '1 semaine',
          images: [
            '../../static/img/gastronomie1.png',
            '../../static/img/gastronomie2.png',
            '../../static/img/gastronomie3.png',
            '../../static/img/gastronomie4.png'
          ]
        },
        {
          brand: 'Nespresso',
          title: 'Page web CoffeeCorner - création',
          langage: 'VueJS',
          level: {
            width: '160px'
          },
          time: '1 semaine',
          link: true,
          url: 'https://www.nespresso.com/pro/ch/en/pages/coffee-corners-landing',
          images: [
            '../../static/img/CoffeeCorner1.png',
            '../../static/img/CoffeeCorner2.png',
            '../../static/img/CoffeeCorner3.png'
          ]
        },
        {
          brand: 'Richemont',
          title: 'Vidéo - création',
          langage: 'iMovie',
          level: {
            width: '180px'
          },
          time: '2 jours',
          videos: [
            '../../static/video/BOOSTER 2.0 & BEYOND v8.mp4',
            '../../static/video/workshop2 richemont.mp4'
          ]
        },
        {
          brand: 'TPG',
          title: 'Page LEX - améliorations',
          langage: 'Html - Sass',
          level: {
            width: '12px'
          },
          time: '1 jour',
          images: [
            '../../static/img/tpg1.png',
            '../../static/img/tpg2.png',
            '../../static/img/tpg3.png'
          ]
        },
        {
          brand: 'Manor',
          title: 'Chatbot - implémentation des produits',
          langage: 'Chatfuel - Messenger',
          level: {
            width: '100px'
          },
          time: '3 semaines',
          link: true,
          url: 'https://www.nespresso.com/pro/ch/en/pages/coffee-corners-landing',
          images: [
            '../../static/img/chatbot1.png',
            '../../static/img/chatbot2.png',
            '../../static/img/chatbot3.png',
            '../../static/img/chatbot4.png'
          ]
        },
        {
          brand: 'Lycra',
          title: 'Site web',
          langage: 'Twig',
          level: {
            width: '20px'
          },
          time: '2 semaines',
          images: [
            '../../static/img/vide.png',
            '../../static/img/vide.png',
            '../../static/img/vide.png'
          ]
        },
        {
          brand: 'CREA',
          title: 'Site web Rapport de stage - création',
          langage: 'vueJS',
          level: {
            width: '180px'
          },
          time: '2 semaines',
          images: [
            '../../static/img/rapport1.png',
            '../../static/img/rapport2.png',
            '../../static/img/rapport3.png'
          ]
        }
      ],
      skills: [
        {
          class: 'html',
          name: 'Html:5',
          style: {
            height: '200px'
          }
        },
        {
          class: 'css',
          name: 'Css3',
          style: {
            height: '140px'
          }
        },
        {
          class: 'saas',
          name: 'Sass',
          style: {
            height: '120px'
          }
        },
        {
          class: 'wordpress',
          name: 'Wordpress',
          style: {
            height: '100px'
          }
        },
        {
          class: 'js',
          name: 'JS',
          style: {
            height: '40px'
          }
        },
        {
          class: 'gitlab',
          name: 'Gitlab',
          style: {
            height: '100px'
          }
        }
      ],
      skillsMobile: [
        {
          class: 'html',
          name: 'Html:5',
          style: {
            height: '100px'
          }
        },
        {
          class: 'css',
          name: 'Css3',
          style: {
            height: '70px'
          }
        },
        {
          class: 'saas',
          name: 'Sass',
          style: {
            height: '60px'
          }
        },
        {
          class: 'wordpress',
          name: 'Wordpress',
          style: {
            height: '50px'
          }
        },
        {
          class: 'js',
          name: 'JS',
          style: {
            height: '20px'
          }
        },
        {
          class: 'gitlab',
          name: 'Gitlab',
          style: {
            height: '50px'
          }
        }
      ],
      skillsAfter: [
        {
          class: 'html',
          name: 'Html:5',
          style: {
            height: '220px'
          }
        },
        {
          class: 'css',
          name: 'Css3',
          style: {
            height: '180px'
          }
        },
        {
          class: 'saas',
          name: 'Sass',
          style: {
            height: '180px'
          }
        },
        {
          class: 'wordpress',
          name: 'Wordpress',
          style: {
            height: '100px'
          }
        },
        {
          class: 'js',
          name: 'JS',
          style: {
            height: '80px'
          }
        },
        {
          class: 'gitlab',
          name: 'Gitlab',
          style: {
            height: '120px'
          }
        },
        {
          class: 'vuejs',
          name: 'VueJS',
          style: {
            height: '80px'
          }
        },
        {
          class: 'twig',
          name: 'Twig',
          style: {
            height: '40px'
          }
        }
      ],
      skillsAfterMobile: [
        {
          class: 'html',
          name: 'Html:5',
          style: {
            height: '110px'
          }
        },
        {
          class: 'css',
          name: 'Css3',
          style: {
            height: '90px'
          }
        },
        {
          class: 'saas',
          name: 'Sass',
          style: {
            height: '80px'
          }
        },
        {
          class: 'wordpress',
          name: 'Wordpress',
          style: {
            height: '50px'
          }
        },
        {
          class: 'js',
          name: 'JS',
          style: {
            height: '40px'
          }
        },
        {
          class: 'gitlab',
          name: 'Gitlab',
          style: {
            height: '60px'
          }
        },
        {
          class: 'vuejs',
          name: 'VueJS',
          style: {
            height: '40px'
          }
        },
        {
          class: 'twig',
          name: 'Twig',
          style: {
            height: '20px'
          }
        }
      ],
      tabPanel: [
        {
          id: 'feedback-1',
          word: 'Beaucoup de meetings',
          style: {
            backgroundImage: "url('../../static/img/meeting.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        },
        {
          id: 'feedback-2',
          word: 'Clients exigeants',
          style: {
            backgroundImage: "url('../../static/img/client.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        },
        {
          id: 'feedback-3',
          word: 'Activités collaboratives',
          style: {
            backgroundImage: "url('../../static/img/collaboration.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        },
        {
          id: 'feedback-4',
          word: 'Accès commun',
          style: {
            backgroundImage: "url('../../static/img/commun.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        },
        {
          id: 'feedback-5',
          word: 'Grande organisation',
          style: {
            backgroundImage: "url('../../static/img/organisation.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        },
        {
          id: 'feedback-6',
          word: 'Librairies très utiliées',
          style: {
            backgroundImage: "url('../../static/img/librairie.png')",
            backgroundPosition: 'center',
            backgroundSize: 'cover'
          }
        }
      ]
    }
  },
  metaInfo () {
    return {
      titleTemplate: 'Liliana Afonso | Stage'
    }
  }
}
</script>
