<template>
  <div id="app">
    <home />
  </div>
</template>

<script>
import ENGLISH from './static/locale/en.json'
import FRENCH from './static/locale/fr.json'
import GERMAN from './static/locale/de.json'
import ITALIAN from './static/locale/it.json'

import Home from 'pages/Home'

export default {
  name: 'App',
  components: {
    Home
  },
  data () {
    return {
      currentLang: 'en'
    }
  },
  beforeCreate () {
    // Get HTML Lang attribute
    const currentHTMLLang = document.documentElement.lang

    this.currentLang = currentHTMLLang.split('-')[0]

    this.$store.commit('storeLocale', this.currentLang)

    if (this.currentLang === 'en') {
      this.$store.commit('storeI18n', ENGLISH)
    } else if (this.currentLang === 'fr') {
      this.$store.commit('storeI18n', FRENCH)
    } else if (this.currentLang === 'de') {
      this.$store.commit('storeI18n', GERMAN)
    } else if (this.currentLang === 'it') {
      this.$store.commit('storeI18n', ITALIAN)
    }
  }
}
</script>

<style lang="scss">
  @import 'assets/scss/common';
  @import "assets/scss/components/swiper";

  #app {
    background: $white;
  }
</style>
